
@font-face {
  font-family: 'open-sans';
  src: url('../open-sans/OpenSans-Bold.ttf');
}

body {
  font-family: 'open-sans';
}

.logo {
  margin: 10% 0 10% 0;
  font-size: 4em;
}

.logo p {
  color: #fff;
}

.bg-header {
  background-color: #2C2C2C;
  min-height: auto;
}

.btn-carrusel-custom {
  display: flex;
  align-items: center;
}

.custom-space-row {
  margin: 10% 0 10% 0;
}

.container-estructuras-metalicas {
  background-color: #2C2C2C;
  padding: 5%;
  position: absolute;
  margin: 6vh 0 6vh 0;
  width: 50vh;
  z-index: 9999;
  top: 1vh;
}

.container-estructuras-metalicas header p {
  color: #C69470;
  text-transform: uppercase;
}

.container-estructuras-metalicas p {
  color: #fff;
}

.custom-info-content {
  margin-top: 10%;
  margin-bottom: 20%;
}

.servicios {
  text-transform: uppercase;
}

.section-carrusel {
  background-color: #F5F5F5;
}

.hr-custom {
  background-color: #C1B0A0;
  width: 100%;
  height: 2px;
}

.margin-figure {
  padding: 1px;
}

figure {
  padding: 5px;
  margin: 0;
}

.panel-left {
  background-color: #2C2C2C;

}

.title {
  color: #fff;
  text-transform: uppercase;
}

.description-paragraph {
  color: #A99184;
}

.color-servicios {
  color: #A99184;
}

.wrap-content {
  margin: 10% 5% 10% 5%;
}

.footer-color {
  align-items: center;
  background-color: red;
  display: flex;
  height: 4vw;
  width: 100%;
}

.btn-carrusel {
  background-color: #282828;
  display: flex;
  justify-content: center;
}

.btn-carrusel-services {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.btn-header {
  border-top-color: #A99184;
  text-transform: uppercase;
  margin: 10% 0;
}

.xs-carrusel-custom {
  height: 60vh;
  float: right;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #A99184;
  background-color: #2C2C2C;
  margin: 5% 0 5% 0;
  width: 100%;
  color: #ffff;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

.form-contacts {
  background-color: #2C2C2C;
}

.form-contacts form {
  margin: 5%;
}

.contacts{
  text-align: right;
  text-transform: uppercase;
  margin-right: 10%;
}

.add {
  margin: 5% 0;
}

.contact-p1 {
  font-size: 2em;
  color: #C19470;
}

.phone {
  margin: 0;
}

.email {
  color:#C19470;
}

.contacts h1 {
  color: #C19470;
}

.title-h1 {
  color: #000;
  text-transform: uppercase;
}

.title-h3 {
  color: #DAB9A1;
}

.btn-send {
  background-color: #CB9067;
  float: right;
  margin: 5% 0 5% 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: #fff;
}

.col-custom-contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cr-1 {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .cr-1 {
    height: 49vw;
    width: 100vw;
  }
}

@media only screen and (min-width: 1200px) {
  .cr-1 {
    width: 100vw;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .container-estructuras-metalicas {
    background-color: #2C2C2C;
    padding: 5%;
    position: absolute;
    width: calc(100vw / 3);
    margin: 3.5vh 0 3.5vh 0;
    top: 1vh;
  }

  .container-estructuras-metalicas header p {
    color: #C69470;
    text-transform: uppercase;
    font-size: 0.5em;
  }

  .container-estructuras-metalicas p {
    color: #fff;
    font-size: 0.3em;
  }

  .xs-carrusel-custom {
    height: calc(100vw / 1.7);
    width: 79%;
    float: right;
  }
}

@media only screen and (min-width: 576px) {
  .container-estructuras-metalicas {
    background-color: #2C2C2C;
    padding: 5%;
    position: absolute;
    width: calc(100vw / 3);
    /* margin: 1.5vw 0; */
    top: 8vw;
  }

  .container-estructuras-metalicas header p {
    color: #C69470;
    text-transform: uppercase;
    font-size: 0.5em;
  }

  .container-estructuras-metalicas p {
    color: #fff;
    font-size: 0.3em;
  }

  .xs-carrusel-custom {
    height: calc(100vw / 2);
    width: 79%;
    float: right;
  }
}


@media only screen and (min-width: 768px) {
  .container-estructuras-metalicas {
    background-color: #2C2C2C;
    padding: 5%;
    position: absolute;
    width: calc(100vh / 3);
    margin: 6vw 0;
  }

  .container-estructuras-metalicas header p {
    color: #C69470;
    text-transform: uppercase;
    font-size: 1em;
  }

  .container-estructuras-metalicas p {
    color: #fff;
    font-size: 0.4em;
  }

  .xs-carrusel-custom {
    height: calc(100vw / 2);
    width: 79%;
    float: right;
  }
}


@media only screen and (min-width: 992px) {
  .container-estructuras-metalicas {
    background-color: #2C2C2C;
    padding: 5%;
    position: absolute;
    width: calc(100vh / 2.5);
    /*margin: 3.5vh 0 3.5vh 0; */
    top: -2vw;
  }

  .container-estructuras-metalicas header p {
    color: #C69470;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  .container-estructuras-metalicas p {
    color: #fff;
    font-size: 0.6em;
  }

  .xs-carrusel-custom {
    height: calc(100vw / 2.5);
    width: 79%;
    float: right;
  }
}


@media only screen and (min-width: 1200px) {
  .container-estructuras-metalicas {
    background-color: #2C2C2C;
    padding: 5%;
    position: absolute;
    /* margin: 10vw 0; */
    /* width: calc(100vw / 3.5); */
  }

  .container-estructuras-metalicas header p {
    color: #C69470;
    text-transform: uppercase;
    font-size: 2em;
  }

  .container-estructuras-metalicas p {
    color: #fff;
    font-size: 12px;
  }

  .xs-carrusel-custom {
    /* height: calc(100vw / 3);
    width: 79%; */
    float: right;
  }
}
